/* Header component styles */
header {
  position: relative;
  z-index: 1100;
  padding: 8px 48px;
  background-color: #6d6d6d;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 42px;
  color: white;
  margin: 0 auto;
  font-size: 12px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header a {
  text-decoration: none;
  color: white;
}
#menu-toggle {
  display: none;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.desktop-menu-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.desktop-menu-list li a {
  color: white;
  font-size: 1em;
}
.desktop-menu-list li a:hover,
.desktop-menu-list li a:focus {
  cursor: pointer;
  color: #222222;
  font-weight: 600;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:  #6d6d6d;
  border-radius: 0;
  min-width: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  transition: all 0.2s;
  z-index: 1000;
}
.close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
  z-index: 1002;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.mobile-menu-list li a {
  font-size: 24px;
  color: #fff;
}
@media (max-width: 768px) {
  header {
    width: 80%;
    padding: 8px 24px;
    height: auto;
  }
  .desktop-menu-list {
    width: auto;
    gap: 16px;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  header {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  #menu-toggle {
    display: block;
  }
  .desktop-menu { display: none !important; }
  .mobile-menu { display: flex !important; }
  .mobile-menu-list {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    padding-left: 0;
    margin: 0;
  }
  .mobile-menu-list li {
    font-size: 12px;
  }
}
@media (min-width: 481px) {
  .mobile-menu { display: none !important; }
  #menu-toggle { display: none !important; }
}
